@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); 
/*Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
/*Poppins*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand';
}

p, a {
    font-family: 'poppins';
}

html, body {
    height: 100%;
}

.clear{clear: both;}

/* <--- Iniciei o header ---> */

header {
    width: 100%;
}

.container_header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 2%;
}

.logo {
    float: left;
    margin: 0 auto;
    padding: 10px;
}

.logo h1 {
    text-align: center;
    color: #9b7f66;
}

nav {
    float: right;
}

nav div.menu ul {
    list-style-type: none;
    list-style-position: inside;
}

nav div.menu ul li {
    padding: 5px;
    display: inline-block;
    margin-top: 15px;
}

nav div.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #777777;
    transition: 0.4s;
    padding: 10px;
    border-radius: 10px;
}

nav div.menu ul li a:hover {
    background-color: #d4dfd6cb;
    border-radius: 10px;
    color: #806955;
    padding: 10px;
}

/* <--- Finalizei o header ---> */

/* Iniciando a section_1 */

.section_1 {
    width: 100%;
    padding: 100px 2%;
    background: linear-gradient(to top, #f2f2f217, #b4beb6);
}

section.section_1 > .container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
    padding: 100px 2%;
}

div.wrapper_container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.chamada h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #9b7f66;
    font-weight: 400;
}

.wrapper_ilha {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
}

.wrapper_ilha h3 {
    text-align: center;
    color: #777777;
    font-weight: 500;
}

.wrapper_dd {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
}

.wrapper_dd h3 {
    text-align: center;
    color: #777777;
    font-weight: 500;
}

.wrapper_ilha img {
    width: 250px;
    height: 213px;
    border-radius: 50%;
    margin-top: 20px;
}

.wrapper_ilha a {
    margin-left: 25px;
}

.wrapper_dd img {
    width: 250px;
    border-radius: 50%;
    margin-top: 20px;
}

.wrapper_dd a {
    margin-left: 25px;
}

/* Iniciando Footer */

footer {
    width: 100%;
    background-color: #dfdfdf;
}

section.rodape {
    padding: 0 2%;
}

div.part {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 25px;
}

div.part .gerais {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.wrapper_gerais {
    text-align: left;
}

.wrapper_gerais h4 {
    font-size: 14px;
}

.wrapper_gerais span {
    font-size: 12px;
    display: block;
}

.wrapper_gerais span:nth-of-type(1) {
    margin-top: 10px;
}

.wrapper_gerais a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    line-height: 25px;
}

.wrapper_gerais a:hover {
    text-decoration: underline;
}

div.part .comunidade {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.warpper_comunidade {
    text-align: left;
}

.wrapper_comunidade h4 {
    font-size: 14px;
}

.wrapper_comunidade span {
    display: block;
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.wrapper_comunidade span:nth-of-type(1) {
    margin-top: 12px;
}

.rede img {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    margin-top: 5px;
    border-radius: 3px;
}

.s2 img {
    margin-left: 10px;
}

.r2 { 
    margin-bottom: 10px;
}

.direitos {
    width: 100%;
    text-align: center;
    padding: 15px 2%;
    background-color: #ccc;
}

.direitos span {
    color: rgb(94, 94, 94);
    font-size: 16px;
}

/* Finalizando Footer */

@media (max-width: 768px) {
    .container_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        float: none;
        text-align: center;
    }

    nav {
        float: none;
        width: 100%;
        text-align: center;
    }

    div.wrapper_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper_dd {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .wrapper_ilha a {
        margin-left: -10px;
    }
    
    
    .wrapper_dd a {
        margin-left: -10px;
    }
}

@media (max-width: 580px) {
    .wrapper_ilha a {
        margin-left: -8px;
    }
    
    
    .wrapper_dd a {
        margin-left: -8px;
    }
}

@media (max-width: 550px) {
    .wrapper_ilha a {
        margin-left: -15px;
    }
    
    
    .wrapper_dd a {
        margin-left: -12px;
    }
}