@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); 
/*Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
/*Poppins*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand';
}

p, a {
    font-family: 'poppins';
}

html, body {
    height: 100%;
}

.clear{clear: both;}

/* <--- Iniciei o header ---> */

header {
    width: 100%;
}

.container_header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 4%;
}

.logo {
    float: left;
    margin: 0 auto;
    padding: 10px;
}

.logo h1 {
    text-align: center;
    color: #9b7f66;
}

nav {
    float: right;
}

nav div.menu ul {
    list-style-type: none;
    list-style-position: inside;
}

nav div.menu ul li {
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
}

nav div.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #777777;
    transition: 0.4s;
    padding: 15px;
    border-radius: 10px;
}

nav div.menu ul li a:hover {
    background-color: #ecc9c7b6;
    border-radius: 10px;
    color: #806955;
    padding: 15px;
    text-decoration: underline;
}

/* <--- Finalizei o header ---> */

/* Iniciando a section_1 */

.section_1 {
    width: 100%;
    padding: 100px 10%;
    background: linear-gradient(to top, #ffa7a70c, #fdafab);
}

section.section_1 > .container {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
}

.chamada {
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
}

.chamada h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    padding: 30px 2%;
    color: #9b7f66;
}

.container_2 {
    width: 100%;
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px 2%;
}

.wrapper_text {
    width: 50%;
    text-align: center;
    padding: 30px 2%;
    border: 1px solid white;
    border-radius: 20px;
}

.wrapper_text p {
    float: right;
    font-size: 20px;
    max-width: 400px;
    line-height: 30px;
    margin: 0 auto;
    color: #856c56;
}

.wrapper_img {
    width: 50%;
    padding: 0 2%;
    border: 1px solid white;
}

.wrapper_img .img {
    float: left;
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    background-image: url(../assets/lele_1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -170px;
    border-radius: 50%;
}

/* Finalizando section_1 */

/* Iniciando section_2 */

section.section_2 {
    width: 100%;
    padding: 0 2%;
    margin-top: 50px;
}

section.section_2 > .container {
    width: 100%;
}

div.corte {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

div.wrapper_corte_1 {
    width: 50%;
    padding: 0 2%;
}

div.wrapper_corte_2 {
    width: 50%;
    padding: 0 2%;
}

div.wrapper_corte_2 video {
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
}

div.wrapper_corte_1 h2, h3, p {
    color: #777777;
    padding-top: 30px;
}

.img_corte {
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-right: 5px;
}

.link {
    color: blue;
}

span {
    color: blue;
}

/* Finalizando section_2 */

/* Iniciando section_3 */

section.section_3 {
    width: 100%;
    padding: 0 2%;
}

section.section_3 > .container_3 {
    width: 100%;
    margin-bottom: 100px;
}

div.corte_3 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

div.wrapper_corte_3 {
    width: 50%;
    padding: 0 2%;
}

div.wrapper_corte_3 {
    width: 50%;
    padding: 0 2%;
}

div.wrapper_corte_3 video {
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
}

div.wrapper_corte_3 h2, h3, p {
    color: #777777;
    padding-top: 30px;
}

.img_corte_3 {
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-right: 5px;
}

.link_3 {
    color: blue;
}

.span_3 {
    color: blue;
}

.button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #ecc9c7;
    color: #9b7f66;
    font-size: 17px;
    font-weight: bold;
    transition: 0.4s;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.button:hover {
    padding: 15px 0;
    border-radius: 10px;
}

/* Finalizando section_3 */

/* Iniciando o quem_sou */

.quem_sou {
    width: 100%;
    padding: 100px 5%;
    background-color: #e4e4e4;
}

section.quem_sou > .container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
    padding: 30px 4%;
}

.sobre {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    color: #333333;
}

.sobre h2 {
    text-align: center;
    padding: 20px 2%;
    font-weight: normal;
    color: #6e6e6e;
}

.sobre p {
    padding-bottom: 20px;
}

/* Finalizando quem_sou */

/* Iniciando a Galeria*/

section.fotos {
    width: 100%;
    padding: 100px 2% 100px 2%;
}

div.text h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    color: #666666;
}   

.gallery {
    float: left;
    width: calc(100% / 6);
}

.gallery_img {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
    border-radius: 10px;
}

.gallery .g1 {
    background-image: url(../assets/gallery/01.jpeg);
    background-position: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g2 {
    background-image: url(../assets/gallery/07.jpeg);
    background-position: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g3 {
    background-image: url(../assets/gallery/02.jpeg);
    background-position: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g4 {
    background-image: url(../assets/gallery/08.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g5 {
    background-image: url(../assets/gallery/03.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g6 {
    background-image: url(../assets/gallery/09.jpeg);
    background-position: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g7 {
    background-image: url(../assets/gallery/04.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g8 {
    background-image: url(../assets/gallery/10.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g9 {
    background-image: url(../assets/gallery/05.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g10 {
    background-image: url(../assets/gallery/11.jpeg);
    background-position: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g11 {
    background-image: url(../assets/gallery/06.jpeg);
    background-position: -105px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .g12 {
    background-image: url(../assets/gallery/12.jpeg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Finalizando Galeria */


/* Iniciando Footer */

footer {
    width: 100%;
    background-color: #dfdfdf;
}

section.rodape {
    padding: 20px 2%;
}

div.part {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 10px;
}

div.part .gerais {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.wrapper_gerais {
    text-align: left;
}

.wrapper_gerais h4 {
    font-size: 14px;
}

.wrapper_gerais span {
    font-size: 12px;
    display: block;
}

.wrapper_gerais span:nth-of-type(1) {
    margin-top: 10px;
}

.wrapper_gerais a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    line-height: 25px;
}

.wrapper_gerais a:hover {
    text-decoration: underline;
}

div.part .comunidade {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.warpper_comunidade {
    text-align: left;
}

.wrapper_comunidade h4 {
    font-size: 14px;
}

.wrapper_comunidade span {
    display: block;
    font-size: 12px;
    color: rgb(59, 59, 59);
}

.wrapper_comunidade span:nth-of-type(1) {
    margin-top: 12px;
}

.r1 {
    display: inline-block;
}

.r2 { 
    margin-bottom: 10px;
}

.direitos {
    width: 100%;
    text-align: center;
    padding: 15px 2%;
    background-color: #ccc;
}

.direitos span {
    color: rgb(94, 94, 94);
    font-size: 12px;
}

/* Finalizando Footer */

.line {
    width: 100%;
    border: 1px solid #ccc;
    margin: 50px 0;
}

@media (max-width: 1024px) {
    .gallery {
        float: left;
        width: calc(100% / 3);
    }

    section.fotos .container {
        padding: 0 4%;
    }
}

@media (max-width: 768px) {
    .container_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        float: none;
        text-align: center;
    }

    nav {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .chamada h1 {
        font-size: 50px;
        padding: 35px 2%;
    }

    .container_2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .wrapper_text {
        width: 100%;
        text-align: center;
        padding: 30px 2% 50px 2%;
    }

    .wrapper_text p {
        float: none;
    }

    .wrapper_img {
        width: 100%;
        padding: 0 2%;
        border: 1px solid white;
        margin: 0 auto;
        text-align: center;
    }
    
    .wrapper_img .img {
        float: none;
        width: 100%;
        max-width: 250px;
        height: 250px;
        margin: 0 auto;
        background-image: url(../assets/lele_1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 0px;
        background-position-y: -130px;
        border-radius: 60%;
    }

    div.corte {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    div.wrapper_corte_1 {
        width: 100%;
        padding: 0 2%;
    }
    
    div.wrapper_corte_2 {
        width: 100%;
        padding: 0 15%;
    }

    div.corte_3 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    div.wrapper_corte_3 {
        width: 100%;
        padding: 0 2%;
    }

    div.wrapper_corte_3:nth-of-type(2) {
        width: 100%;
        padding: 0 15%;
    }

    .button {
        margin-top: 40px;
    }

    .button:hover {
        padding: 10px;
    }

    .gallery {
        float: left;
        width: calc(100% / 2);
    }

    section.fotos .container {
        padding: 0 4%;
    }
    
}
